/*
No arquivo style.css, definimos o estilo para o seletor do id quadrado, que é o elemento que queremos criar para o evento.
No id quadrado, determinamos a altura, a largura e a cor de fundo do elemento para facilitar a visualização no navegador. 
Além disso, usamos a propriedade position com valor relative para mover o elemento. Observe o código:
*/

#quadrado {
    width: 24px;
    height: 24px;
    background-color: blue;
    position: relative;
}