h1 {
    color: #906a28;
}

fieldset {
    background-color: #e0c699;
}

#img-main {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.li-main {
    display: flex;
    justify-content: space-between;
}