h1 {
    color: #906a28;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #906a28;
}
.li-links:hover {
    scale: 1.1;
}

.fieldset-loader {
    background-color: #ffedcb;
}


.menu-index-navegacao {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

#img-main {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.li-main {
    display: flex;
    justify-content: space-between;
}

.social-medias-index {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.galeria-recife-antigo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.img-galeria {
    width: 300px;
    height: 300px;
}