<h1>
    <a href="index.html">Europa Turismos</a>
</h1>
<h4>
    Verifique também outros sites abaixo:
</h4>
<fieldset class="fieldset-loader">
    <ul class="menu-index-navegacao">
        <li class="li-links">
            <a href="index.html">
                HOME
            </a>
        </li>
        <li class="li-links">
            <a href="recife.html">
                Site Recife e o Marco Zero
            </a>
        </li>
        <li class="li-links">
            <a href="recife-antigo.html">
                Site Recife Antigo
            </a>
        </li>
        <li class="li-links">
            <a href="contato.html">
                Viaje conosco
            </a>
        </li>
    </ul>
</fieldset>